# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\aa HVL INF\Workspaces\DAT102\dat102repo\dat102\KjedetStabelMedUnntak\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
